[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
icalendar = "*"
"lectio.py" = "*"
beautifulsoup4 = "*"
apscheduler = "*"
requests = "*"
lxml = "*"
cooltables = "*"

[dev-packages]

[requires]
python_version = "3.10"
