[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
icalendar = "*"
"lectio.py" = "0.1.1"
beautifulsoup4 = "*"
apscheduler = "*"
requests = "*"
lxml = "*"
cooltables = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
